.ant-layout {
    margin: 0 auto;
    max-width: 1024px;
    min-width: 1024px;
}

.textTransformUC {
    text-transform: uppercase;
}

a {
    color: #0c0c0c;
}

a:active {
    text-decoration: null;
}

a:hover {
    color: #0c0c0c;
}

.ant-layout, .containerLogin .ant-layout-footer {
    background: #fff;
}
.ant-layout-header {
    padding: 0px;
}
.ant-layout-header, .ant-menu {
    background: linear-gradient(to left, #245, #246);
}
.logo {
    font-size: 22px;
    padding-left: 24px;
    float: left;
    color: #fff;
    margin-right: 40px;
    width: 46px;
}
.ant-card-body {
    padding: 13px;
}
.vReal {
    font-size: 10px;
    text-decoration: line-through;
    color: #adadad;
}
.vPromocao {
    margin-left: 5px;
    font-size: 13px;
    font-weight: bold;
}
.nome {
    text-transform: uppercase;
}
.ant-menu, .ant-menu:hover, .ant-menu-submenu:hover {
    color: #fff;
    text-transform: uppercase;
}
.banner {
    width: 100%;
    margin-bottom: 10px;
}
.ant-carousel .slick-slide {
    text-align: center;
    height: 160px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
}
.ant-carousel .slick-slide h3 {
    color: #fff;
}
.linha {
    color: #4A4A4A;
    font-size: 14px;
    line-height: 46px;
}
.bold {
    font-weight: bold;
}
.preco span:nth-child(1) {
    text-decoration: line-through;
    font-size: 11px;
    color: #adadad;
}
.preco span:nth-child(2) {
    font-weight: bold;
}
.linha label {
    margin-right: 10px;
}
.caracteristicas-geral {
    display: flex;
    flex-direction: row;
}
.caracteristicas-geral div {
    flex-grow: 2;
}
.outros-produtos {
    display: flex;
    flex-direction: row;
}
.outros-produtos div, .tipopagamento-ico div {
    flex-grow: 4;
}
.menu-vertical {
    margin-top: 10px;
}
.rodape {
    text-align: left;
}
.tipopagamento-ico {
    display: flex;
    flex-direction: row;
}
.tipopagamento-ico-card {
    margin: 5px;
}
.tipopagamento-ico-card img:nth-child(1) {
    width: 100%;
    height: 100%;
}
.ant-menu-dark .ant-menu-item, 
.ant-menu-dark .ant-menu-item-group-title, 
.ant-menu-dark .ant-menu-item {
    color: #fff;
}
.paginacao {
    text-align: center;
}
.slider-slide {
    height: 400px;
}
.slider {
    min-height: 410px;;
}
